/* General Body Styling */
body {
    font-family: Arial , Helvetica, sans-serif;
    font-size: 20px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Styling for the text column */
.text-column {
    text-align: center;
    margin-top: 20px;
}

.text-column h1 {
    color: #333;
}

/* Canvas Styling */
canvas {
    display: block;
    margin: 20px auto;
    border: 5px solid #ffffff;
}

/* Interactive elements styling*/
.controlPanel, .canvasFooter {
    display: block;
    border: 1px solid #a08989;
    background-color: #e6e6e6;
    border-radius: 3px;
}

/* Control panel sizing*/
.controlPanel {
    display: flex block;
    flex-flow: column;
    width: 80%;
    min-width: 750px;
    max-width: 1200px;
    margin: auto;
    padding: 1%;
}

.controlGroup {
    display: flex;
    align-items: center;
    background-color: #f3e6e8;
    border: 1px solid #a08989;
    margin:0.5%;
    padding: 0 1%;
    flex-grow: 1;
    border-radius: 4px;
}

.panelRow {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.canvasFooter{
    display: block flex;
    margin:auto;
    width:1024px;
    padding:0px 10px;
    align-content: space-around;
    flex-flow: row wrap;

}

.centre {
    padding: 20px;
    display: block;
    width:fit-content;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Button Styling */
.button, button {
    display:inline-block;
    background-color: #ffc0cb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex-grow: 1;
}

.button:hover, button:hover {
    background-color: #ff69b4;
    /* A darker shade of pink for hover effect */
}

/* Input box styling*/
input, select, textarea, .footerElement{
    flex-direction: row;
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid #a08989;
    margin: 5px 0px;
    padding: 5px 10px;
    height:min-content;
    border-radius: 5px;
    flex-grow: 50;
    min-width: 3em;
}

/* Input box label styling*/
label {
    flex-direction: row;
    padding: 0;
}


.ltlRuleIn{
    width:50px;
    margin: 2px;
}

.fullRow{
    width:100%;
}


textarea {
    width:96.65%;
    height:100px;
}

.grid {
    flex-flow: row wrap;
    padding-bottom: 1%;
    padding-top: 1%;
}

.warning {
    font-weight: 800;
    color: red;
    background-color: lightgoldenrodyellow;
    border-color: #333;
    border-width: 3px;
    border-style:solid;
    border-radius: 1em;
    margin-bottom: 1em;
}

.centreDiagram{
    width:85%;
    max-width:50em;  
    border: 20px solid white; 
    border-radius: 0.5em;
    padding:0;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.sideDiagramContainer {
    min-width:12em;
    min-height: fit-content;
    margin: 1em;
}

.sideDiagram {
    border: 5px solid white;
    border-radius:5px;
    width:95%;
}

.sideBySide {
    display: flex;
    align-items:stretch;
    width:100%;
}

.figureCaption {
    font-family: Arial , Helvetica, sans-serif;
    font-size: 15px;
    width:100%;
    text-align:center;
}

h3 {
    padding: 0px;
    margin: 0px;
}

/* BEGIN: Mai's CSS */

a {
  text-decoration: none;
}
.navbar {
  background-color: #7065f9;
  overflow: hidden;
  padding: 0 10px;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* END: Mai's CSS */