/* General Body Styling */
body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Styling for the text column */
.text-column {
    text-align: center;
    margin-top: 20px;
}

.text-column h1 {
    color: #333;
}

/* Canvas Styling */
canvas {
    display: block;
    margin: 20px auto;
    border: 5px solid #ffffff;
}

/* Interactive elements styling*/
.controlPanel, .canvasFooter {
    display: block;
    border: 1px solid #a08989;
    background-color: #e6e6e6;
}

/* Control panel sizing*/
.controlPanel {
    width: 700px;
    margin: auto;
    padding: 2.5%;
    justify-content:right;
}

.canvasFooter{
    display: block;
    margin:auto;
    width:1024px;
    padding:0px 10px;

}

.centre {
    margin: auto;
    padding: 10px;
    display: block;
    width:fit-content;
}

/* Button Styling */
button {
    display:inline-block;
    background-color: pink;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff69b4;
    /* A darker shade of pink for hover effect */
}

/* Input box styling*/
input, select, textarea{
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid #a08989;
    margin: 5px 0px;
    padding: 5px 10px;
}


.ltlRuleIn{
    width:50px;
    margin: 2px;
}

.kernelRuleIn{
    width:29.65%;
}


textarea {
    display: inline-block;
    width:96.65%;
    height:100px;
    margin: 0;
}
